---
# The workflow to deploy snapshot artifact versions to Github packages
# Fill free to adjust java version and additional mvn command-line parameters
# The workflow will trigger on pushes into branches different from main and release
# Please make sure that the version in the pom.xml file has the SNAPSHOT postfix

# Please adjust pom.xml file for your project according to the instructions:
# https://github.com/Netcracker/qubership-workflow-hub/blob/main/docs/maven-publish-pom-preparation_doc.md

name: Maven deploy snapshot

on:
  push:
    branches-ignore:
      - "**release*"
      - "prettier/**"
      - "dependabot/**"
    paths-ignore:
      - "docs/**"
      - "README.md"
      - ".github/**"
  workflow_dispatch: {}
  pull_request:
    branches: [main]
    types:
      [opened, reopened, synchronize]

permissions:
  contents: read
  packages: write

env:
  TAG_NAME: ${{ github.event.release.tag_name || github.ref }}
  additional-mvn-args: "-Dstage=release -Denable-analyzers=true -Dpg.jdbc.Url=jdbc:postgresql://localhost:5432/datasets -Dpg.jdbc.User=datasets -Dpg.jdbc.Password=datasets -Dpg.jdbc.Dialect=com.querydsl.sql.PostgreSQLTemplates -Dgridfs.database=dsgridfs -Dspring.data.mongodb.uri=mongodb://localhost:27017/dsgridfs -Dgridfs.port=27017 -Dgridfs.user=dsuser -Dgridfs.password=dspass"

jobs:
  mvn-snapshot-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout pipeline
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: 'main'
          repository: 'Netcracker/qubership-testing-platform-helm-hook-helper'
          path: 'qubership-testing-platform-helm-hook-helper'

      - name: Postgres up
        uses: netcracker/qubership-testing-platform-helm-hook-helper/.github/actions/databases/postgres_for_build@main
        with:
          postgresql_user: datasets
          postgresql_password: datasets
          postgresql_database: datasets
          postgresql_admin_password: postgres

      - name: Mongo up
        uses: netcracker/qubership-testing-platform-helm-hook-helper/.github/actions/databases/mongo_for_build@main
        with:
          mongo_user: dsuser
          mongo_password: dspass
          mongo_db: dsgridfs

      - name: Maven Docker build
        id: maven_build
        uses: netcracker/qubership-workflow-hub/actions/maven-snapshot-deploy@ac0b35120b940eaa644cdcfee7d4957038998ec2 # v2.0.9
        with:
          java-version: "21"
          additional-mvn-args: ${{ env.additional-mvn-args }}
          target-store: "github"
          upload-artifact: 'true'
          maven-username: ${{ github.ACTOR }}
          maven-token: ${{ secrets.GITHUB_TOKEN }}
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
          gpg-passphrase: ${{ secrets.GPG-PASSPHRASE }}

  load-docker-build-components:
    runs-on: ubuntu-latest
    outputs:
      component: ${{ steps.load_component.outputs.components }}
      platforms: ${{ steps.load_component.outputs.platforms }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Load Docker Configuration
        id: load_component
        run:  |
          verify=$(cat "$GITHUB_WORKSPACE/.github/docker-build-config.json" | jq '
          def verify_structure:
          .components as $components
          | .platforms as $platforms
          | ($components | type == "array")
          and (all($components[]; has("name") and has("file") and has("context")))
          and ($platforms | type == "string");
          verify_structure
          | if . then true else false end
          ')
          if [ ${verify} == 'true' ]; then
            echo "✅ $GITHUB_WORKSPACE/.github/docker-build-config.json file is valid"
            components=$(jq -c ".components" "$GITHUB_WORKSPACE/.github/docker-build-config.json")
            platforms=$(jq -c ".platforms" "$GITHUB_WORKSPACE/.github/docker-build-config.json")
          else
            echo "❗ $GITHUB_WORKSPACE/.github/docker-build-config.json file is invalid"
            echo "❗ $GITHUB_WORKSPACE/.github/docker-build-config.json file is invalid" >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
          echo "components=${components}" >> $GITHUB_OUTPUT
          echo "platforms=${platforms}" >> $GITHUB_OUTPUT

  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        component: ${{ fromJson(needs.load-docker-build-components.outputs.component) }}
    needs: [ mvn-snapshot-deploy, load-docker-build-components ]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Replace slash in service branch
        id: replace_slash
        run: |
          if [[ -n "$GITHUB_HEAD_REF" ]]; then
            service_branch="$GITHUB_HEAD_REF"
          else
            service_branch="$GITHUB_REF_NAME"
          fi
          service_branch="${service_branch//\//_}"
          
          echo "Branch is: $service_branch"
          echo "SERVICE_BRANCH=$service_branch" >> $GITHUB_ENV

      - name: Metadata
        id: metadata
        uses: netcracker/qubership-workflow-hub/actions/metadata-action@ac0b35120b940eaa644cdcfee7d4957038998ec2 #v2.0.9
        with:
          default-template: '{{ref-name}}-{{timestamp}}'

      - name: Build and Publish Docker Image
        id: docker_build
        uses: netcracker/qubership-workflow-hub/actions/docker-action@ac0b35120b940eaa644cdcfee7d4957038998ec2 #v2.0.9
        with:
          ref: ${{ github.ref }}
          dry-run: false
          tags: ${{steps.metadata.outputs.result}}, ${{ env.SERVICE_BRANCH }}_latest
          download-artifact: true
          download-artifact-path: build-context
          component: ${{ toJson(matrix.component) }}
          platforms: ${{ needs.load-docker-build-components.outputs.platforms }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  run-tests:
    needs: [ build-and-push ]
    if: |
      needs.build-and-push.result == 'success' &&
      (
        github.event_name == 'pull_request' ||
        (github.event_name == 'push' && github.ref == 'refs/heads/main')
      )
    uses: netcracker/qubership-testing-platform-helm-hook-helper/.github/workflows/deploy-run-tests.yaml@main
    with:
      repository_name: 'qubership-testing-platform-datasets'
      service_name: 'atp-datasets'
      namespace: 'datasets'
      pipeline_branch: 'main'
      postgres: enable
      enable_test: enable
